*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.button {
    width: 500px;
    height: 200px;
    background-color: black;
    position: relative;
}

.bg {
    position: absolute;
    width: 60%;
    height: 100%;
    background-color: red;
    border-radius: 20%;

    .f {
        background-color: black;
        width: 10%;
        height: 80%;
        border-radius: 10%;
    }

    .f-vertical {
        position: absolute;
        top: 10%;
        left: 60%;
    }

    .f-top {
        position: absolute;
        top: -15px;
        left: 72%;
        height: 50%;
        transform: rotate(90deg);
    }

    .f-mid {
        position: absolute;
        top: 45px;
        left: 72%;
        height: 50%;
        transform: rotate(90deg);
    }
}


input {
    position: fixed;
    width: 500px;
    height: 200px;
    border: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0);
}

.o {
    position: absolute;
    left: 5%;
    top: 10%;
    width: 50%;
    height: 80%;
    border-radius: 100%;
    border: 30px solid black;
}

.f {
    background-color: red;
    width: 6%;
    height: 80%;
    border-radius: 10%;
}

.f-vertical {
    position: absolute;
    top: 10%;
    left: 64%;
}

.f-top {
    position: absolute;
    top: -15px;
    left: 72%;
    height: 50%;
    transform: rotate(90deg);
}

.f-mid {
    position: absolute;
    top: 45px;
    left: 72%;
    height: 50%;
    transform: rotate(90deg);
}

@keyframes color {
    0% {
        background-color: red;
    }

    100% {
        background-color: green;
    }
}

@keyframes colorr {
    0% {
        background-color: green;
    }

    100% {
        background-color: red;
    }
}

@keyframes hideFW {
    0% {
        top: 10%;
    }

    100% {
        top: -200%;
    }
}

@keyframes showFW {
    0% {
        top: -200%;
    }

    100% {
        top: 10%;
    }
}

@keyframes hideFM {
    0% {
        top: 45px;
    }

    100% {
        top: -200%;
    }
}

@keyframes showFM {
    0% {
        top: -200%;
    }

    100% {
        top: 45px;
    }
}

@keyframes hideFT {
    0% {
        top: -15px;
    }

    100% {
        top: -200%;
    }
}

@keyframes showFT {
    0% {
        top: -200%;
    }

    100% {
        top: -15px;
    }
}

@keyframes moveO {
    0% {
        left: 5%;
    }

    100% {
        left: 45%;
    }
}

@keyframes moveBackO {
    0% {
        left: 45%;
    }

    100% {
        left: 5%;
    }
}

@keyframes rotateM {
    0% {
        height: 50%;
        transform: rotate(90deg);
        top: 45px;
        left: 72%;
        background-color: red;
    }

    100% {
        height: 180px;
        transform: rotate(145deg);
        top: 10px;
        left: 75%;
        background-color: green;
    }
}

@keyframes rotateBackM {
    0% {
        height: 180px;
        transform: rotate(145deg);
        top: 10px;
        left: 75%;
        background-color: green;
    }

    100% {
        height: 50%;
        transform: rotate(90deg);
        top: 45px;
        left: 72%;
        background-color: red;
    }
}

@keyframes rotateT {
    0% {
        top: -15px;
        left: 72%;
        height: 50%;
        transform: rotate(90deg);
        background-color: red;
    }

    100% {
        height: 80%;
        transform: rotate(0deg);
        top: 10%;
        left: 86%;
        background-color: green;
    }
}

@keyframes rotateBackT {
    0% {
        height: 80%;
        transform: rotate(0deg);
        top: 10%;
        left: 86%;
        background-color: green;
    }

    100% {
        top: -15px;
        left: 72%;
        height: 50%;
        transform: rotate(90deg);
        background-color: red;
    }
}